{% extends "base.html" %}

{% block title %}DDL comparison{% endblock %}

{% block body %}
<div class="container mt-2">
    <div class="row">
        <form class="form w-100" onsubmit="return handleSubmit(event)">
            <label for="requirements"><h3>Requirements</h3></label>
            <div class="accordion my-2" id="accordionDiv">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button 
                        class="accordion-button collapsed" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#contentPromptBody" 
                        aria-expanded="false" 
                        aria-controls="contentPromptBody">
                        Content Prompt (if any)
                      </button>
                    </h2>
                    <div 
                        id="contentPromptBody" 
                        class="accordion-collapse collapse" 
                        data-bs-parent="#accordionDiv"
                    >
                      <div class="accordion-body">
                        <textarea id="contentPrompt" class="form-control"></textarea>
                      </div>
                    </div>
                </div>
            </div>
            <label for="requirements">Prompt requirement</label>
            <textarea name="requirements" id="requirements" rows="5" class="form-control"></textarea>
            
            <button class="btn btn-primary my-2">Submit 
                <div class="spinner-border-sm spinner-border d-none" role="status" id="loading"></div>
            </button>
        </form> 
    </div>
    <div id="resultDiv" class="row d-none">
        <div class="col-md-6">
            <b>Open AI</b>
            <button class="btn pb-3" onclick="copySQL(this)" data-location='openaiResponse'>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16" style="position: relative; right: 0px; top: 0px">
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"></path>
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"></path>
              </svg>
            </button>
            <pre>
                <code 
                    id='openaiResponse' 
                    code='language-sql'
                    class='hljs language-sql'
                ></code>
            </pre>
        </div>
        <div class="col-md-6">
            <b>Claude</b>
            <button class="btn pb-3" onclick="copySQL(this)" data-location='claudeResponse'>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16" style="position: relative; right: 0px; top: 0px">
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"></path>
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"></path>
              </svg>
            </button>
            <pre>
                <code id='claudeResponse' code="language-sql" class='hljs language-sql'></code>
            </pre>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/generate_ddl.js')}}"></script>
{% endblock %}